<%= render "layouts/navbar" %>
    <%= render "layouts/d-flex"%>
        <%= render "layouts/sidebar" %>
            <%= render "layouts/content" %>
                <%= render "layouts/breadcrumb" %>
                    <%= render "layouts/jumbotron" %>
                        <div class="container-fluid mb-3">
                            <div class="row">
                                <%= render "layouts/carousel" %>
                                    <%= render "layouts/accordion" %>
                            </div>
                        </div>
                        <%=render "layouts/card" %>
                            <%=render "layouts/pagination" %>
                                <%= render "layouts/endif" %>
                                    <%= render "layouts/right-sidebar" %>
                                        <%= render"layouts/endif"%>
                                            <%= render "layouts/footer"%>