<div class="col-sm-6">
    <h3><i class="far fa-star"></i> Favorite Article</h3>
    <hr>
    <div id="accordion">
        <% @accordion.each do |accordion| %>
            <div class="card">
                <div class="card-header" id='heading<%=accordion.id%>'>
                    <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target='#collapse<%=accordion.id%>' aria-expanded="true" aria-controls='collapse<%=accordion.id%>'>
                                    <%= truncate_html accordion.title, :length=>60 %>
                                    </button>
                                </h5>
                </div>
                <div id='collapse<%=accordion.id%>' class="collapse" aria-labelledby='heading<%=accordion.id%>' data-parent="#accordion">
                    <div class="card-body">
                        <div class="col-sm-12 ">
                            <%= image_tag accordion.image.url(:medium),:class =>'img-fluid mx-auto'%>
                        </div>
                        <%= truncate_html accordion.body, :length=>300 %>
                            <%= link_to "Read more", article_path(accordion),:class=>"btn btn-primary"%>
                                <br>
                                <small class="text-muted">
                        <i class="fas fa-pencil-alt"></i> <%= accordion.readonuser.username%> |
                        <i class="fas fa-thumbs-up"></i> <%= accordion.get_upvotes.size%> |
                        <i class="fas fa-thumbs-down"></i> <%= accordion.get_downvotes.size%> | <br>
                        <i class="far fa-calendar-alt"></i> <%= time_ago_in_words(accordion.created_at) %>
                    </small>
                    </div>
                </div>
            </div>
            <%end%>
    </div>
</div>