<div id="carouselExampleIndicators" class="carousel slide col-sm-6" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item  active">
            <%= image_tag "logotext2.svg", :height=>'100rem',:class=>"d-block w-100 img-fluid text-svg shadow" %>
                <div class="carousel-caption d-none d-md-block">
                </div>
                <h5>Read,post article here, READON.</h5>
                <p>
                    READON is a website to read and post article like reddit. you can find many article in here, and post many article to impact the world.
                </p>
        </div>
        <% @c.each do |carousel|%>
        <div class="carousel-item">
            <%= image_tag carousel.image.url,:class =>'d-block w-100 img-fluid',:alt=>'Second slide' %>
                <h5><%= carousel.title%></h5>
                <%= truncate_html carousel.body,:length=>200 %>
                <%= link_to 'Read more', carousel,:class => 'btn btn-primary btn-block' %>
        </div>
        <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
</div>