<div class="container-fluid">
    <div class="card-columns">
        <% @articles.each do |article| %>
            <div class="card shadow">
                <%= image_tag article.image.url, :class=>'img-fluid' %>
                <div class="card-body">
                    <h5 class="card-title"><%= article.title %></h5>
                        <p class="card-text">
                            <%= truncate_html( article.body,length: 200,omission: '...') %>
                        </p>
                            <%= link_to article,:class => 'btn btn-outline-primary' do%>
                                Read more
                            <% end %>
                            <% if readonuser_signed_in? %>
                                <% if article.readonuser_id == current_readonuser.id %>
                                    <%= link_to edit_article_path(article),:class => 'btn btn-outline-success' do%>
                                        Edit
                                    <% end %>
                                    <%= link_to article, method: :delete, data: { confirm: 'Are you sure?' },:class=>'btn btn-danger' do %>
                                        Delete
                                    <% end %>
                                <% end %>
                            <% end %>
                </div>
                <div class="card-footer">
                        <div class="badge badge-success"><i class="fas fa-thumbs-up"></i> <%= article.get_upvotes.size%></div>
                        <div class="badge badge-danger"><i class="fas fa-thumbs-down"></i> <%= article.get_downvotes.size%></div>
                    <br>
                    <small class="text-muted">
                        <i class="fas fa-pencil-alt"></i> <%= article.readonuser.username%> |
                        <i class="far fa-calendar-alt"></i> <%= time_ago_in_words(article.created_at) %>
                    </small>
                </div>
            </div>
        <% end %>
    </div>
</div>